SITE_URL="http://localhost:3000"

SECRET_KEY=""

DATABASE_URL=""
DIRECT_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

EMAIL_FROM="no-reply@sentrarent.com"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""

KEEP_ALIVE_SECRET=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=""

NEXT_PUBLIC_EMAIL=""
NEXT_PUBLIC_ADDRESS=""
NEXT_PUBLIC_PHONE=""
NEXT_PUBLIC_FAX=""
NEXT_PUBLIC_API_URL=""
NEXT_PUBLIC_API_MOCK_URL=""

ACCESS_KEY=""
SECRET_ACCESS_KEY=""
